<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

  <div class="wrapper">
<body>
    <header>
  {{!-- materialize nav bar --}}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a id="login-button"href="/login">Login</a></li>
        <li><a id="login-button"href="/signup">Create Account</a></li>
      </ul>
    </div>
  </nav>
    </header>
</body>
</div>

    <main>
      {{{ body }}}
    </main>
   


<script src="/javascript/homepage.js"></script>
</html>

